
.float-left {
    float: left;
}

.float-right {
    float: right;
}
.clear-both{
    clear: both;
}
.color {
    color: #95e1d3;
}

.color {
    color: #1fab89;
}

.color {
    color: #62d2a2;
}

.color {
    color: #9df3c4;
}

.color {
    color: #Eaffd0;
}

.color {
    color: #fce38a;
}

.color {
    color: #F38181;
}

.color {
    color: #Aa96da;
}

.color {
    color: #3f72af;
}

.color {
    color: #222831;
}

.color {
    color: #393e46;
}

.color {
    color: #c9d6df;
}