.float-left {
    float: left;
}

.display-inline-block {
    display: inline-block;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

.color {
    color: #95e1d3;
    color: #1fab89;
    color: #62d2a2;
    color: #9df3c4;
    color: #Eaffd0;
    color: #fce38a;
    color: #F38181;
    color: #Aa96da;
    color: #3f72af;
    color: #222831;
    color: #393e46;
    color: #c9d6df;
}

::-webkit-scrollbar {
    width: 8px;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #999;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background: #EDEDED;
}

.btn {
    border: none;
    outline: none;
    background: none;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.btn.default {
    background: #F38181;
    color: #fff;
}

.link {
    color: #0077EE;
}
.van-grid-item__content::after {
    z-index: 1;
    border-width: 0 0 1px 0;
}